.idea
.vscode
.HA_VERSION
.uuid
harmony*.conf
deps
._.DS_Store
.DS_Store

#credentials/identifiable information
secrets.yaml
phue.conf
known_devices.yaml
options.xml
ecobee.conf
.vaultCredential
.august.conf

#logs
pyozw.sqlite
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*appdaemon.log
*appdaemon-error.log
*appdaemon.log.1
*appdaemon-error.log.1

apps/__pycache__/*
tts